

mat-card-header {
  width: 100%;
}
::ng-deep #mat-card {
  box-shadow: none;
  background-color: #e8e4c9!important;
  /* border-bottom-style: outset; */
  color: rgba(16, 53, 43);
  margin-bottom: 15px;
}
mat-card-subtitle {
  color: rgba(16, 53, 43);
}
img {
  width: 40px;
  height: 40px;
}
