<div style="text-align: center;">
    
    <h5>Please enter your password to perform this action!</h5>
    <form [formGroup]="this.passwordForm" (ngSubmit)="this.onSubmit(this.passwordForm.value)">
        <mat-form-field>
            <div class="form-field-container">
                <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <i class="material-icons password-icon " (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
            </div> 
            <mat-error *ngIf="passwordForm.controls.password?.errors?.required">
                Password is required!
              </mat-error>
        </mat-form-field>
        <div>
            <button id="save-btn" mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">
                Save
            </button>
            <button id="cancel-btn" mat-raised-button color="primary" (click)="this.onClose()">
                Cancel
            </button>
        </div>
    </form>
</div>