<select
  *ngIf="!this.loggedUser"
  [(ngModel)]="this.selectedLang"
  (change)="this.onChange()"
>
  <option
    *ngFor="let lang of this.suppLangs"
    [value]="lang.index"
    selected="value === this.selectedLang"
    >{{ lang.index }}</option
  >
</select>

<button mat-button id="menu" [matMenuTriggerFor]="menu">
  <mat-icon style="color: white">menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="this.loggedUser" (click)="this.toUserProfile()">
    {{ this.ui.profile_btn }}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="articles">
    {{ this.ui.articles_btn }}
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="translations"
    *ngIf="this.loggedUser?.roles?.length > 1"
  >
    {{ this.ui.translations_btn }}
  </button>

  <button mat-menu-item *ngIf="this.loggedUser" (click)="this.toUsers()">
    {{ this.ui.all_users_btn }}
  </button>
  <button
    mat-menu-item
    *ngIf="this.loggedUser && this.loggedUser.roles.includes('Admin')"
    (click)="this.toAdminPanel()"
  >
    {{ this.ui.admin_panel_btn }}
  </button>
  <button mat-menu-item *ngIf="!this.loggedUser" (click)="this.toSignIn()">
    {{ this.ui.signin_btn }}
  </button>
  <button mat-menu-item *ngIf="this.loggedUser" (click)="this.toLogout()">
    {{ this.ui.logout_btn }}
  </button>
</mat-menu>

<mat-menu #articles="matMenu">
  <button mat-menu-item (click)="this.toArticles()">
    {{ this.ui.all_articles_btn }}
  </button>
  <button mat-menu-item (click)="this.toCategories()">
    {{ this.ui.category_label }}
  </button>
  <button
    mat-menu-item
    *ngIf="this.loggedUser"
    (click)="this.toCreateArticles()"
  >
    {{ this.ui.create_btn }}
  </button>
</mat-menu>

<mat-menu #translations="matMenu">
  <button mat-menu-item (click)="this.toTranslations()">
    {{ this.ui.capital_all_btn }}
  </button>
</mat-menu>
