/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #all-articles {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        row-gap: 10px;
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #all-articles {
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #all-articles {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        column-gap: 15px;
        row-gap: 15px;
        padding: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #all-articles {
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        column-gap: 20px;
        row-gap: 20px;
        padding: 10px;
    }
}