<app-categories-navigation
  [categories]="this.categories"
></app-categories-navigation>
<h5 *ngIf="!this.articles.length">
  {{ this.ui.no_articles_for_now }}...
  <span [style.color]="'blue'" (click)="this.goToCreate()">
    {{ this.ui.add_btn }}
  </span>
  {{ this.ui.one_label }}
</h5>
<div id="all-articles">
  <app-article-preview
  [ui]="this.ui"
  *ngFor="let article of this.articles"
  [article]="article"
  (goToArticleId)="this.redirectToArticle($event)"
></app-article-preview>
</div>
