/* You can add global styles to this file, and also import other style files */
@import '../node_modules/css-star-rating/css/star-rating.css';
html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Gelasio', serif;
    background-color: white;
    color: #676767;
}
.mat-dialog-container {
    height: unset!important;
}
.rating {
    outline: none;
}
