<div id="not-found-container">
    <div id="message-container">
        <span id="code">404</span>
        <h1><i class="material-icons">mood_bad</i>{{this.ui.sorry_label}}</h1>
        <p id="redirect-message" (click)="redirectToHomePage()">{{this.ui.go_to_home_label}}
            <i class="material-icons" id="redirect-icon">subdirectory_arrow_right</i>
        </p>
    </div>
</div>