<div>
    <dual-list [sort]="true" [source]="this.sourceLangs" [(destination)]="this.confirmed"></dual-list>
    <br>
    <button (click)="this.saveLanguages()" mat-raised-button color="primary">Save</button>   
</div>