<div class="create-article-container">
  <h2>Create article</h2>
  <form [formGroup]="createArticleForm" class="create-article-form">
    <mat-form-field>
      <mat-label>{{ this.ui.title_label }}</mat-label>
      <input formControlName="title" matInput type="text" placeholder="Title" />
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>{{ this.ui.subtitle_label }}</mat-label>
      <input
        formControlName="subtitle"
        matInput
        type="text"
        placeholder="Subtitle"
      />
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>{{ this.ui.content_label }}</mat-label>
      <textarea
        rows="15"
        formControlName="content"
        matInput
        type="text"
        placeholder="Content"
      ></textarea>
      <span
        >{{ this.createArticleForm.controls.content?.value?.length }} /
        3000</span
      >
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>{{ this.ui.category_label }}</mat-label>
      <mat-select formControlName="category">
        <mat-option
          *ngFor="let category of this.categories"
          [value]="category.name"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="this.photo && this.photo.length > 50000"></mat-error>
    <app-upload-image
      [previewUrl]="this.photo"
      [ui]="this.ui"
      (addPhoto)="this.onAddPhoto($event)"
      (removePhoto)="this.onRemovePhoto()"
    ></app-upload-image>
    <br />
    <button
      id="create-article-btn"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="this.onCreateClick()"
      [disabled]="!createArticleForm.valid || !this.photo || this.photo.length > 50000"
    >
      {{ this.ui.create_btn }}
    </button>
  </form>
</div>
