<div class="edit-article-dialog-container">
  <form [formGroup]="this.editTranslationForm">
    <mat-form-field>
      <mat-label>From language: </mat-label>
      <input formControlName="originalLang" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>To language: </mat-label>
      <input formControlName="targetLang" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Text: </mat-label>
      <input formControlName="originalText" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Translation: </mat-label>
      <input formControlName="translatedText" matInput type="text" />
    </mat-form-field>
    <br />
    <button
      id="edit-transl-btn"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="this.onSubmit()"
      [disabled]="!editTranslationForm.valid"
    >
      Edit
    </button>
    <button (click)="this.onNoClick()">Cancel</button>
  </form>
</div>
