<div id="landing-container">
    <div id="landing-flex-container">
        <div>
            <div id="landing-about">
                <h5>
                    {{ this.ui.landing_fav_quote_label }}
                </h5>
            </div>
            <div id="quote">
                <p>
                    {{ this.ui.landing_quote_label }}
                    <br>
                    - {{this.ui.landing_strainer_label}}
                </p>
            </div>
            <button mat-raised-button color="primary" (click)="goToHomePage()" style="margin-top: 15px">{{this.ui.landing_home_page_btn}}</button>
        </div>
        <div id="landign-form">
            <mat-tab-group headerPosition="below" mat-align-tabs="center">
                <mat-tab [label]="this.ui.landing_login_btn">
                    <app-login [ui]="this.ui" [displayLang]="this.displayLang"></app-login>
                </mat-tab>
                <mat-tab [label]="this.ui.landing_register_btn">
                    <app-register [ui]="this.ui" [displayLang]="this.displayLang" [languages]="this.languages"></app-register>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
