#landing-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #676767;
}
#landing-flex-container > div {
    text-align: center;
}
#landing-video {
    width: 100%;
    height: 175px;
}
#quote {
    width: 300px;
}
#landing-about {
    text-align: center;  
}
#landing-flex-container {
    display: flex;
    flex-direction: row;
}
#landign-form {
    margin-left: 50px;
}
mat-tab-group{
    border-radius: 5px;
}
.mat-input-element {
    color: color!important;
}
button {
    margin-top: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #landing-flex-container {
        display: flex;
        flex-direction: column;
    }
    #landing-flex-container > div {
        margin-bottom: 15px;
    }
    #landing-container {
        margin-top: 30px;
    }
    #landing-brand {
        margin-top: 30px;
    }
    #landign-form {
        margin-left: 0px;
    }
}

