<div id="admin-users-container">

    <h2>Users</h2>

    <app-search-bar
    [ui]="this.ui"
        (search)="this.searchUser($event)"
    ></app-search-bar>

    <mat-table [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="username">
            <mat-header-cell  *matHeaderCellDef mat-sort-header style="text-align: center;"> Username </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer"
                    >{{row.username}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdOn">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="pointer"
                        >{{row.createdOn | date:'shortDate'}}</span> </mat-cell>
            </ng-container>

        <ng-container matColumnDef="banStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ban Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.isBanned}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="powerPoints">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Power Points </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="pointer">{{row.powerPoints}}</span>
                </mat-cell>
            </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row (click)="openDialog(row, this.suppLanguages)" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>