textarea {
  background-color: #3f51b5;
  border-radius: 4px;
  color: white!important;
}


form {
  margin-bottom: 15px;
}
#create-comment-form {
  text-align: center;
}
/* #create-comment-btn {
  background-color: white;
  color: black;
}

.disabled {
  background-color: rgb(255, 255, 255, 0.3)!important;
  cursor: default!important;
  pointer-events: none!important;
} */
