<div id="admin-articles-container">

    <h2>Articles</h2>

    <app-search-bar [ui]="this.ui" (search)="this.searchArticles($event)"></app-search-bar>

    <mat-table [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Title </mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer">{{row.title}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Category</mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="pointer">{{row.article.category.name}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created on </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.article.createdOn | date:'shortDate'}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="pointer">{{row.article.user.username}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="goToArticle(row.id)">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40, 80]"></mat-paginator>
</div>