<div class="upload-photo-container">
  <div *ngIf="this.previewUrl">
    <a (click)="this.removeImg()">x</a>
    <img [src]="this.previewUrl" height="100" width="200" />
  </div>
  <input
    #photoInput
    hidden="false"
    type="file"
    (change)="photoInputChange($event)"
    accept="image/*,video/*"
  />
  <button mat-flat-button color="primary" (click)="photoInput.click()">
    {{ this.ui.choose_image_label }}
  </button>
</div>
