<!-- <ng-template *ngIf="!this.data.detectedLang;else detect"> -->
<h5 *ngIf="!this.data.detectedLang">
  We couldn't detect article's language :(
</h5>
<h5 *ngIf="!this.data.detectedLang; else detect">
  Would you pick the correct one if present in the list below
</h5>
<!-- </ng-template> -->
<ng-template #detect>
  <h5>
    We detected that your language is in {{ this.data.detectedLang.name }}
  </h5>
  <h5>Is that correct?</h5>
  <button (click)="this.onYesClick()">Yes</button>
  <h5>No?</h5>
  <h5>Would you pick the correct one if present in the list below</h5>
</ng-template>

<mat-select [(ngModel)]="this.selectedLang">
  <mat-option *ngFor="let lang of this.listOfLanguages" [value]="lang">{{
    lang
  }}</mat-option>
</mat-select>
<button [disabled]="!this.selectedLang" (click)="this.onReadyClick()">
  Ready
</button>
<br />
<button (click)="this.onNotInTheListClick()">Not in the list?</button>
