<div id="comments-container">
  <h3>Comments</h3>
  <app-create-comment (newCommentEvent)="createComment($event)"></app-create-comment>
  <app-comment-info
      *ngFor="let comment of comments"
      [comment]="comment"
      [commentLang]="language"
      [user]="loggedUser"
      (newTextEvent)="editComment($event)"
  >
  </app-comment-info>
</div>
