<h2>Change app languages</h2>
<app-change-languages
    [allLanguages]="this.allLanguages"
    [suppLanguages]="this.suppLanguages"
></app-change-languages>
<h2>Create category</h2>
<app-create-category></app-create-category>
