<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ this.ui.average_rating }}
      {{ this.ratings.avgRating | number: "1.0-2" }}
    </mat-panel-title>
    <mat-panel-description>
      {{ this.ui.click_to_label }}
      {{ panelOpenState ? this.ui.close_label : this.ui.open_label }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-action-row>
    <label>{{ this.ui.title_label }}</label>
    <star-rating
      [labelText]="this.ratings.title.avg"
      [labelPosition]="'left'"
      [disabled]="true"
      [rating]="this.ratings.title.avg"
      [starType]="'svg'"
      [showHalfStars]="true"
      [numOfStars]="1"
    ></star-rating>
    <br />
    <star-rating
      [labelText]="'My rate'"
      [labelPosition]="'top'"
      [starType]="'svg'"
      [hoverEnabled]="this.ratings.title.myRate == 0"
      [rating]="this.ratings.title.myRate"
      (starClickChange)="onClick($event)('title', this.ratings.title.myRate)"
    ></star-rating>
  </mat-action-row>
  <mat-action-row>
    <label>{{ this.ui.subtitle_label }}</label>
    <star-rating
      [labelText]="this.ratings.subtitle.avg"
      [labelPosition]="'left'"
      [disabled]="true"
      [rating]="this.ratings.subtitle.avg"
      [starType]="'svg'"
      [showHalfStars]="true"
      [numOfStars]="1"
    ></star-rating>
    <br />
    <star-rating
      [labelText]="'My rate'"
      [labelPosition]="'top'"
      [starType]="'svg'"
      [hoverEnabled]="this.ratings.subtitle.myRate == 0"
      [rating]="this.ratings.subtitle.myRate"
      (starClickChange)="
        onClick($event)('subtitle', this.ratings.subtitle.myRate)
      "
    ></star-rating>
  </mat-action-row>
  <mat-action-row>
    <label>{{ this.ui.content_label }}</label>
    <star-rating
      [labelText]="this.ratings.content.avg"
      [labelPosition]="'left'"
      [disabled]="true"
      [rating]="this.ratings.content.avg"
      [starType]="'svg'"
      [showHalfStars]="true"
      [numOfStars]="1"
    ></star-rating>
    <br />
    <star-rating
      [labelText]="'My rate'"
      [labelPosition]="'top'"
      [starType]="'svg'"
      [hoverEnabled]="this.ratings.content.myRate == 0"
      [rating]="this.ratings.content.myRate"
      (starClickChange)="
        onClick($event)('content', this.ratings.content.myRate)
      "
    ></star-rating>
  </mat-action-row>
</mat-expansion-panel>
