header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  background-color: #3f51b5;
}
.header-menu {
  text-align: right;
}
.header-logo {
  color:white;
  font-family: 'Lobster', cursive;
}
#brand {
  font-size: 32px;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 1px 1px 1px #000000;
}
#moto {
  font-weight: 500;
  font-family: inherit;
}
