<header>
  <div class="header-logo" (click)="redirectToSlash()" style="cursor: pointer;">
      <span id="brand">Multilingo</span>
  </div>
  <div class="header-menu" style="text-align: right;">
      <app-navigation [ui]="this.ui"></app-navigation>
  </div>

</header>
