<app-categories-navigation
  [categories]="this.categories"
></app-categories-navigation>
<h1>{{ this.ui.all_time_articles }}</h1>
<h3 *ngIf="!this.articles">There are no articles for now...</h3>
<div id="all-articles">
  <app-article-preview
  [ui]="this.ui"
  *ngFor="let articleItem of this.articles"
  [article]="articleItem"
  (goToArticleId)="this.redirectToArticle($event)"
  ></app-article-preview>

</div>