<div id="registration-container">
    <h5>{{ this.ui.landing_experiance_more_registered_label }}</h5>
    <form [formGroup]="this.registerForm" (ngSubmit)="this.register(this.registerForm.value)">
        <mat-form-field>
            <div class="form-field-container">
                <input matInput formControlName="username" [placeholder]="this.ui.landing_username_placeholder">
                <i class="material-icons register-icon " >emoji_people</i>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <div class="form-field-container">
                <input matInput [placeholder]="this.ui.landing_password_placeholder" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <i class="material-icons register-icon password-icon " (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <div class="form-field-container">
                <input matInput formControlName="confirmPassword" [placeholder]="this.ui.landing_repeat_password_placeholder" [type]="hidePassword ? 'password' : 'text'">
                <i class="material-icons register-icon password-icon" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>{{this.ui.landing_choose_language_select}}</mat-label>
            <mat-select formControlName="prefLang">
              <mat-option *ngFor="let language of languages" [value]="language.index">
                {{language.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>          
        <br>
        <button 
            id="register-btn"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!this.registerForm.valid"
        >
            {{this.ui.landing_create_profile_btn}}
        </button>
    </form>
</div>
