.form-field-container {
    display: flex;
}
.register-icon {
    font-size: 16px;
    color: #c5c009;
}
.password-icon {
    cursor: pointer;
}
#register-btn {
    margin-bottom: 15px;
    width: 180px;
}
#registration-container{
    text-align: center;
}
form {
    text-align: center;
}
h5 {
    color: #676767;
    font-family: 'Gelasio', serif;
}
.mat-input-element {
    color: #676767!important;
}