<div id="profile-user-info">
        <h2>{{this.ui.profile_about_label}}
                <i class="material-icons" id="edit-btn" [class.warn-color]="this.aboutMenu"
                        (click)="this.toggleAboutMenu()" *ngIf="this.isOwnerOrAdmin">edit</i>
        </h2>
        <div *ngIf="!this.aboutMenu">
                <span title="Full name">{{this.user.name}} {{this.user.surname}}</span>
                <br>
                <br>
                <span title="Email">{{this.user.email}}</span>
                <span *ngIf="this.isOwnerOrAdmin">
                        <br>
                        <br>
                        <span title="Roles">{{this.user.roles.join('-')}}</span>
                </span>
                <br>
                <br>
                <span title="Member since">{{this.ui.profile_member_since_label}}: {{this.user.createdOn | date}}</span>
                <br>
                <br>
        </div>
        <form *ngIf="this.aboutMenu" [formGroup]="this.aboutForm" (ngSubmit)="this.updateAbout(this.aboutForm.value)">
                <input class="about-menu" type="text" placeholder="Name" formControlName="name">
                <br *ngIf="aboutForm.controls.name?.errors?.required">
                <mat-error *ngIf="aboutForm.controls.name?.errors?.required">
                        Name is required!
                </mat-error>
                <br *ngIf="aboutForm.controls.name?.errors?.minlength">
                <mat-error *ngIf="aboutForm.controls.name?.errors?.minlength">
                        Name should be at least 3 characters long.
                </mat-error>
                <br *ngIf="aboutForm.controls.name?.errors?.maxlength">
                <mat-error *ngIf="aboutForm.controls.name?.errors?.maxlength">
                        Name should be less than 20 characters long.
                </mat-error>
                <br>
                <br>
                <input class="about-menu" type="text" placeholder="Surname" formControlName="surname">
                <br *ngIf="aboutForm.controls.surname?.errors?.required">
                <mat-error *ngIf="aboutForm.controls.surname?.errors?.required">
                        Surname is required!
                </mat-error>
                <br *ngIf="aboutForm.controls.surname?.errors?.minlength">
                <mat-error *ngIf="aboutForm.controls.surname?.errors?.minlength">
                        Surname should be at least 3 characters long.
                </mat-error>
                <br *ngIf="aboutForm.controls.surname?.errors?.maxlength">
                <mat-error *ngIf="aboutForm.controls.surname?.errors?.maxlength">
                        Surname should be less than 20 characters long.
                </mat-error>
                <br>
                <br>
                <input class="about-menu" type="text" placeholder="Email" formControlName="email">
                <br *ngIf="aboutForm.controls.email?.errors?.required">
                <mat-error *ngIf="aboutForm.controls.email?.errors?.required">
                        Email is required!
                </mat-error>
                <br *ngIf="aboutForm.controls.email?.errors?.minlength">
                <mat-error *ngIf="aboutForm.controls.email?.errors?.minlength">
                        Email should be at least 5 characters long.
                </mat-error>
                <br *ngIf="aboutForm.controls.email?.errors?.maxlength">
                <mat-error *ngIf="aboutForm.controls.email?.errors?.maxlength">
                        Email should be less than 40 characters long.
                </mat-error>
                <br>
                <br>
                <button mat-raised-button type="submit" color="primary" id="save-btn"
                        [disabled]="!aboutForm.valid">{{this.ui.profile_save_btn}}</button>
        </form>
</div>