<div id="home-page-container">

    <div id="home-page-top" style="background-image: url('./../../../assets/home-page-pic.png');background-repeat: no-repeat, repeat;background-position: center;">
        <h1>Multilingo {{ this.ui.articles_btn }}</h1>
        <span id="moto">
            {{ this.ui.home_top_intro_label }}
            <br>
            {{ this.ui.home_top_also_label }}☻</span>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="startWriting()">
            <i class="home-icon material-icons">edit</i> {{ this.ui.start_writing_btn }}</button>
    </div>

    <h1>{{ this.ui.latest_articles_label }}</h1>
    <div id="bottom-articles" *ngIf="this.latestArticles.length !== 0;else ifEmpty">
        <div id="latest-articles">
            <app-article-preview [ui]="this.ui" (goToArticleId)="this.navigateToArticle($event)" *ngFor="let article of this.latestArticles" [article]="article"></app-article-preview>
        </div>
    </div>
    <ng-template #ifEmpty>
      <h3>{{ this.ui.no_articles_for_now }}...</h3>
    </ng-template>
</div>
