<div style="text-align: center;">
    <h5>{{this.ui.landing_experiance_more_logged_label}}</h5>
    <form [formGroup]="this.loginForm" (ngSubmit)="this.login(this.loginForm.value)">
        <mat-form-field>
            <div class="form-field-container">
                <input matInput [placeholder]="this.ui.landing_username_placeholder" formControlName="username">
                <i class="material-icons register-icon " >emoji_people</i>
            </div>
            <mat-error *ngIf="loginForm.controls.username?.errors?.required">
                Username is required.
              </mat-error>
            <mat-error *ngIf="loginForm.controls.username?.errors?.minlength">
                Username should be at least 6 characters long.
            </mat-error>   
        </mat-form-field>
        <br>
        <mat-form-field>
            <div class="form-field-container">
                <input matInput [placeholder]="this.ui.landing_password_placeholder" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <i class="material-icons register-icon password-icon " (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
            </div> 
            <mat-error *ngIf="loginForm.controls.password?.errors?.required">
                Password is required!
              </mat-error>
            <!-- <mat-error *ngIf="loginForm.controls.password?.errors && loginForm.controls.password?.touched">
                Password must contain minimum eight characters, at least one letter, one number and one special character!
            </mat-error>         -->
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="keepMeLoggedIn" type="checkbox">{{this.ui.landing_keep_me_logged_checkbox}}</mat-checkbox>
        <br>
        <br>
        <button id="login-btn" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
            {{this.ui.landing_create_profile_btn}}
        </button>
    </form>
</div>
