.preview-image {
  height: 200px;
  width: 250px;
}
.article-preview-container {
    cursor: pointer;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #bottom-article-container {
      display: flex;
      flex-direction: column;
      padding: 0px;
      border-radius: 5px;
      word-wrap: break-word;
      width: 100%;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #3f51b5;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #article-title {
      padding: 8px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
  }
  #article-date, #article-author {
      padding-left: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #bottom-article-container {
      display: flex;
      padding: 0px;
      border-radius: 5px;
      word-wrap: break-word;
      width: 100%;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #3f51b5;
      color: white;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #article-title {
      padding: 8px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
  }
  #article-date, #article-author {
      padding-left: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #bottom-article-container {
      display: flex;
      padding: 0px;
      border-radius: 5px;
      word-wrap: break-word;
      width: 100%;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #3f51b5;
      color: white;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #article-title {
      padding: 8px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
  }
  #article-date, #article-author {
      padding-left: 8px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #bottom-article-container {
      display: flex;
      padding: 5px;
      border-radius: 5px;
      word-wrap: break-word;
      width: 500px;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #3f51b5;
      color: white;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #article-title {
      padding: 8px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
  }
  #article-date, #article-author {
      padding-left: 8px;
  }
}
