<div class="article-preview-container" (click)="this.seeArticle(this.article.article.id)">
  <span id="article-title"
    ><b>{{ this.article.title }}</b></span
  >
  <br />
  <img
    [src]="this.article.image"
    alt=""
    id="article-img"
    class="preview-image"
  />
  <br />
  <span id="article-author"
    ><i (click)="this.viewUser(this.article.article.user.id)">{{
      this.article.article.user.username
    }}</i></span
  >
  <br />
  <span id="article-date"
    ><small>{{
      this.article.article.createdOn | date: "shortDate"
    }}</small></span
  >
  <br />
</div>
