<div class="edit-article-dialog-container">
  <form [formGroup]="this.editArticleForm">
    <mat-form-field>
      <mat-label>{{ this.ui.title_label }}</mat-label>
      <input formControlName="title" matInput type="text" placeholder="Title" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>{{ this.ui.subtitle_label }}</mat-label>
      <input
        formControlName="subtitle"
        matInput
        type="text"
        placeholder="Subtitle"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>{{ this.ui.content_label }}</mat-label>
      <textarea
        rows="8"
        formControlName="content"
        matInput
        type="text"
        placeholder="Content"
      ></textarea>
    </mat-form-field>
    <br />
    <mat-label>{{ this.ui.category_label }}</mat-label>
    <br />
    <select [(value)]="this.selectedCategory">
      <option
        *ngFor="let category of this.data.categories"
        [value]="category"
        selected="value.id === this.selectedLang.id"
      >
        {{ category.name }}
      </option>
    </select>
    <br />
    <br>
    <app-upload-image
      [ui]="this.ui"
      [previewUrl]="this.photo"
      (addPhoto)="this.onAddPhoto($event)"
      (removePhoto)="this.onRemovePhoto()"
    ></app-upload-image>
    <br />
    <br>
    <button
      id="edit-article-btn"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="this.onSubmit()"
      [disabled]="!editArticleForm.valid || !this.photo || this.photo.length > 50000"
    >
      {{ this.ui.edit_btn }}
    </button>
    <button id="cancel" (click)="this.onNoClick()" mat-raised-button
    color="primary">{{ this.ui.cancel_btn }}</button>
  </form>
</div>
