#user-username {
    margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #user-card {
        background-color: #676767;
        display: flex;
        justify-content: space-between;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    #user-profileImg {
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    #user-username, #user-powerPoint {
        display: flex;
        align-items: center;
    }
    #user-username {
        margin-top: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #user-card {
        background-color: #676767;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    #user-profileImg {
        display: block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
    #user-username, #user-powerPoint {
        display: flex;
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #user-card {
        background-color: #676767;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    #user-profileImg {
        display: block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
    #user-username, #user-powerPoint {
        display: flex;
        align-items: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #user-card {
        background-color: #676767;
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    #user-profileImg {
        display: block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }
    #user-username, #user-powerPoint {
        display: flex;
        align-items: center;
    }
}