<div id="user-card">
    <img [src]="this.user.profileImg" id="user-profileImg" alt="">
    <div id="user-username">
        <span><b>{{this.user.username}}</b></span>
    </div>
    <div id="user-powerPoint">
        <span><small>{{this.user.powerPoints | getLevel}}</small></span>
    </div>
</div>