<div id="settings-container">
    <h2>{{this.ui.profile_settings_btn}}</h2>
    <button class="custom-btn" mat-raised-button color="primary" (click)="deleteUser(this.user.id)"
        [class.custom-warn]="!this.user.isDeleted">
        <span *ngIf="!this.user.isDeleted">
            <mat-icon>indeterminate_check_box</mat-icon> {{this.ui.profile_delete_btn}}
        </span>
        <span *ngIf="this.user.isDeleted">
            <mat-icon>check_box</mat-icon> {{this.ui.profile_restore_btn}}
        </span>
    </button>
    <br>
    <h4>{{this.ui.profile_change_password_label}}</h4>
    <form [formGroup]="this.changePassForm" (ngSubmit)="this.changePassword(this.changePassForm.value)">
        <div>
            <input class="password-menu" type="password" [placeholder]="this.ui.profile_old_password" formControlName="oldPass"
                (click)="changePassForm.controls.oldPass.reset()" [type]="showOldPassword ? 'password' : 'text'">
            <i class="settings-icons material-icons"
                (click)="showOldPassword = !showOldPassword">{{!showOldPassword ? 'remove_red_eye' : 'close'}}</i>
        </div>
        <br *ngIf="changePassForm.controls.oldPass?.errors?.required">
        <mat-error *ngIf="changePassForm.controls.oldPass?.errors?.required">
            Old password is required!
        </mat-error>
        <br *ngIf="changePassForm.controls.oldPass?.errors?.minlength">
        <mat-error *ngIf="changePassForm.controls.oldPass?.errors?.minlength">
            Old password should be at least 5 characters long.
        </mat-error>
        <br *ngIf="changePassForm.controls.oldPass?.errors?.maxlength">
        <mat-error *ngIf="changePassForm.controls.oldPass?.errors?.maxlength">
            Old password should be less than 20 characters long.
        </mat-error>
        <br>
        <br>
        <div>
            <input class="password-menu" type="password" [placeholder]="this.ui.profile_new_password" formControlName="newPass"
                (click)="changePassForm.controls.newPass.reset()" [type]="showNewPassword ? 'password' : 'text'">
            <i class="settings-icons material-icons"
                (click)="showNewPassword = !showNewPassword">{{!showNewPassword ? 'remove_red_eye' : 'close'}}</i>
        </div>
        <br *ngIf="changePassForm.controls.newPass?.errors?.required">
        <mat-error *ngIf="changePassForm.controls.newPass?.errors?.required">
            New password is required!
        </mat-error>
        <br *ngIf="changePassForm.controls.newPass?.errors?.minlength">
        <mat-error *ngIf="changePassForm.controls.newPass?.errors?.minlength">
            New password should be at least 5 characters long.
        </mat-error>
        <br *ngIf="changePassForm.controls.newPass?.errors?.maxlength">
        <mat-error *ngIf="changePassForm.controls.newPass?.errors?.maxlength">
            New password should be less than 20 characters long.
        </mat-error>
        <br>
        <br>
        <div>
            <input class="password-menu" type="password" [placeholder]="this.ui.profile_repeat_new_password"
                formControlName="repeatNewPass" (click)="changePassForm.controls.repeatNewPass.reset()"
                [type]="showRepeatNewPassword ? 'password' : 'text'">
            <i class="settings-icons material-icons"
                (click)="showRepeatNewPassword = !showRepeatNewPassword">{{!showRepeatNewPassword ? 'remove_red_eye' : 'close'}}</i>
        </div>
        <br *ngIf="changePassForm.controls.repeatNewPass?.errors?.required">
        <mat-error *ngIf="changePassForm.controls.repeatNewPass?.errors?.required">
            Repeat new password is required!
        </mat-error>
        <br *ngIf="changePassForm.controls.repeatNewPass?.errors?.minlength">
        <mat-error *ngIf="changePassForm.controls.repeatNewPass?.errors?.minlength">
            Repeat new password should be at least 5 characters long.
        </mat-error>
        <br *ngIf="changePassForm.controls.repeatNewPass?.errors?.maxlength">
        <mat-error *ngIf="changePassForm.controls.repeatNewPass?.errors?.maxlength">
            Repeat new password should be less than 20 characters long.
        </mat-error>
        <br>
        <br>
        <button mat-raised-button id="update-password-btn" type="submit" color="primary"
            [disabled]="!changePassForm.valid">{{this.ui.profile_update_password_btn}}</button>
    </form>

    <h4>{{this.ui.profile_pref_lang_label}}: {{this.user.prefLang}} </h4>
    <form [formGroup]="this.changeLangForm" (ngSubmit)="this.changePrefLang(this.changeLangForm.value)">
        <select formControlName="prefLang">
            <option  selected="selected" class="hide">{{this.ui.profile_change_language_label}}</option>
            <option *ngFor="let language of languages" [value]="language.index">
                {{language.name}}
            </option>
        </select>

        <br>
        <br>
        <button mat-raised-button id="update-lang-btn" type="submit" color="primary"
            [disabled]="!changeLangForm.valid">{{this.ui.profile_update_language_btn}}</button>
    </form>

</div>