<h1>Translations</h1>
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="this.dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="tableId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.tableId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="originalText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.phrase_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.originalText }}
      </td>
    </ng-container>

    <ng-container matColumnDef="translatedText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.translation_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.translatedText }}
      </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.from_language_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.originalLang.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="targetLanguage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.to_language_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.targetLang.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.type_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.rate_label }}
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        (click)="this.triggerTranslationUpdate(row)"
      >
        {{ row.rating }}
      </td>
    </ng-container>

    <ng-container matColumnDef="translatedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ this.ui.translated_by_label }}
      </th>
      <td mat-cell *matCellDef="let row">
        <a
          (click)="this.goToTranslatorProfile(row.translatedBy.id)"
          [ngStyle]="{ disabled: !row.translatedBy, color: 'blue' }"
          >{{
            row.translatedBy.username ? row.translatedBy.username : "Google"
          }}</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
