#server-error-container {
    display: flex;
    height: 100%;
}
#message-container {
    margin: auto;
    color: #3f51b5;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
#redirect-message{
    cursor: pointer;
}
#redirect-icon {
    vertical-align: middle;
}
#code {
    font-size: 50px;
    font-weight: bold;
}