mat-table {
    text-align: center;
    width: 95%;
    margin: 0 auto;

}
#admin-comments-container {
   text-align: center; 
}
mat-cell {
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #676767;
}
h2 {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Lobster', cursive;
}
mat-row {
    cursor: pointer;
}
mat-header-row {
    background-color: #676767;
}
mat-header-cell {
    justify-content: center;
    color: white;
    font-weight: bold;
}