<form class="edit-comment-form"  [formGroup]="editCommentForm" (ngSubmit)="editComment()">
  <mat-form-field>
      <textarea matInput rows="6" formControlName="content"></textarea>
      <mat-error *ngIf="editCommentForm.controls.text?.errors?.required">This field is required!</mat-error>
      <mat-error *ngIf="editCommentForm.controls.text?.errors?.minlength">The comment should be at least 1 symbols long!</mat-error>
      <mat-error *ngIf="editCommentForm.controls.text?.errors?.maxlength">The comment should be less than 500 symbols long!</mat-error>
  </mat-form-field>
  <br>
  <button id="edit-comment-btn" mat-raised-button color="primary" type="submit" [class.disabled]="!editCommentForm.valid">Edit</button>
</form>
