.custom-warn {
    background-color: #f44336;
    color:white;
}
.custom-btn {
    width: 100%;
    text-align: center;
}
.custom-btn span{
    display: flex;
    align-items: center; 
    justify-content: center;
}
mat-icon {
    font-size: 22px;
    margin-right: 2px;
}