<div>
    <span>Username: <b>{{this.user.username}}</b></span>
    <br>
    <span>Name: <b>{{this.user.name + ' ' + this.user.surname}}</b></span>
    <br>
    <span>Roles: <span *ngFor="let role of this.user.roles"><b>{{role + ' '}}</b></span></span>
    <br *ngIf="this.user.roles.includes('Editor')">
    <span *ngIf="this.user.roles.includes('Editor')">Edit languages: <span *ngFor="let lang of this.user.editLanguages"><b>{{lang + ' '}}</b></span></span>
    <br>
    <span>Is Banned: <b>{{this.user.isBanned}}</b></span>
    <br>
    <span>Is Deleted: <b>{{this.user.isDeleted}}</b></span>
    <br>
    <br>
    <mat-expansion-panel style="background-color:#3f51b5; color: white;">
        <mat-expansion-panel-header>
            Ban status
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <div *ngIf="this.user.isBanned">
                <button mat-raised-button (click)="unBanUser()">Unban user</button>
            </div>
            <div *ngIf="!this.user.isBanned">
                <form [formGroup]="this.banForm" (ngSubmit)="this.banUser(this.banForm.value)">
                    <mat-form-field style="color:white;">
                        <mat-label>Days</mat-label>
                        <mat-select formControlName="days">
                            <mat-option *ngFor="let days of this.banDays" [value]="days.value">
                                {{days.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="banReason" matInput type="text" placeholder="Reason">
                        <br *ngIf="banForm.controls.banReason?.errors?.required">
                        <mat-error *ngIf="banForm.controls.banReason?.errors?.required">
                            Reason is required!
                        </mat-error>
                        <br *ngIf="banForm.controls.banReason?.errors?.minlength">
                        <mat-error *ngIf="banForm.controls.banReason?.errors?.minlength">
                            Reason should be at least 5 characters long.
                        </mat-error>
                        <br *ngIf="banForm.controls.banReason?.errors?.maxlength">
                        <mat-error *ngIf="banForm.controls.banReason?.errors?.maxlength">
                            Reason should be less than 40 characters long.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <button mat-raised-button type="submit" [disabled]="!banForm.valid" color="warn">Complete</button>
                </form>
            </div>
        </ng-template>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel style="background-color:#3f51b5; color: white;">
        <mat-expansion-panel-header>
            Add role
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <button mat-raised-button [class.custom-warn]="!this.user.roles.includes('Admin')"
                (click)="this.toggleAdminRole()">Admin
                <i class="material-icons" *ngIf="this.user.roles.includes('Admin')">check_box</i>
                <i class="material-icons" *ngIf="!this.user.roles.includes('Admin')">indeterminate_check_box</i>
            </button>
            <br>
            <br>
            <button mat-raised-button [class.custom-warn]="!this.user.roles.includes('Editor')"
                (click)="this.editLangs = !editLangs" [disabled]="this.user.roles.includes('Admin')">Editor
                <i class="material-icons" *ngIf="this.user.roles.includes('Editor')">check_box</i>
                <i class="material-icons" *ngIf="!this.user.roles.includes('Editor')">indeterminate_check_box</i>
            </button>
            <div *ngIf="editLangs">
                <br>
                <mat-form-field class="example-chip-list" style="background-color: white;
                        padding: 10px;
                        margin-top: 10px;
                        color: black;
                        border-radius: 10px;">
                    <mat-chip-list #chipList aria-label="Language selection">
                        <mat-chip *ngFor="let language of languages" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(language)">
                            {{language}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New language..." #languageInput [formControl]="languageCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
                            {{language}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div style="display: flex;
                margin-top: 10px;">
                    <button mat-raised-button color="" style="margin-right: 10px;"
                        (click)="toggleEditorRole()">Save</button>
                    <button mat-raised-button color="warn" (click)="this.editLangs = !editLangs">Cancel</button>
                </div>
            </div>
            <br>
            <br>
            <button mat-raised-button disabled>Contributor</button>
        </ng-template>
    </mat-expansion-panel>
    <br>
    <button class="custom-btn" mat-raised-button color="primary" (click)="deleteUser()"
        [class.custom-warn]="!this.user.isDeleted">
        <span *ngIf="!this.user.isDeleted">
            <mat-icon>indeterminate_check_box</mat-icon> Delete user
        </span>
        <span *ngIf="this.user.isDeleted">
            <mat-icon>check_box</mat-icon> Restore user
        </span>
    </button>
    <br>
    <br>
    <button color="primary" mat-raised-button class="custom-btn" (click)="goToProfile()">
        <span>
            <mat-icon>info</mat-icon> Go to profile
        </span>
    </button>
</div>