.created-on {
  float: right;
}

.article-image {
  height: 50%;
  width: 50%;
}

.single-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.article-card {
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  columns: auto;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-header {
  display: flex;
  flex-direction: column;

}

.article-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.article-actions {
  display: flex;
}
p {
  margin-left: 16px;
}
mat-card-subtitle {
  display: flex;
  align-self: center;
}

app-all-comments {
  width: 75%;
}
img {
  margin-left: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .article-card {
    width: 90%;
  }
  
  app-all-comments {
    width: 90%;
  }
}
