<div class="single-article-container">
  <mat-card class="article-card">

    <mat-card-header class="article-header">
      <img mat-card-image [src]="this.article.image" class="article-image" />
      <mat-card-title>{{ this.article.title }}</mat-card-title>
      <mat-card-subtitle>{{ this.article.subtitle }}</mat-card-subtitle>
      <mat-card-subtitle
        >{{ this.ui.category_label }}:
        {{ this.article.article.category.name }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >{{ this.ui.author_label }}: {{ this.getAuthorNameAndSurname() }} (<a
          [style.color]="'blue'"
          (click)="this.goToAuthorProfile()"
          >{{ this.author.username }}</a
        >)</mat-card-subtitle
      >
      <mat-card-subtitle
        >Created on:
        {{
          this.article.article.createdOn | date: "shortDate"
        }}</mat-card-subtitle
      >

      <mat-card-subtitle *ngIf="this.article.versionNum !== 1"
        >{{ this.ui.updated_on_btn }}:
        {{ this.article.updatedOn | date: "shortDate" }}</mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="this.isArticleTranslated"
        >{{ this.ui.article_is_translated_label }}!
        {{ this.ui.original_lang_is_label }}
        {{ this.article.article.language.name }}</mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="this.isArticleTranslated"
        >{{ this.ui.overall_rating_btn }}:
        {{ this.ratings.avgRating | number: "1.0-2"
        }}<star-rating
          [labelPosition]="'left'"
          [disabled]="true"
          [starType]="'svg'"
          [rating]="this.ratings.avgRating"
          [showHalfStars]="true"
        ></star-rating
      ></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="article-content">
      <!-- <mat-card-subtitle>{{ this.article.subtitle }}</mat-card-subtitle> -->
      <!-- <br />
      <img mat-card-image [src]="this.article.image" class="article-image" /> -->
      <br />
      <p>
        {{ this.article.content }}
      </p>
    </mat-card-content>
    <mat-card-actions
      class="article-actions"
      *ngIf="
        this.loggedUser &&
        (this.loggedUser.roles.includes('Admin') ||
          this.loggedUser.id === this.author.id)
      "
    >
      <button mat-button color="primary" (click)="this.openEditDialog()">
        {{ this.ui.edit_btn }}
      </button>
      <!-- On click extend panel with his rating for every element if any and ability to click on the stars  -->
      <button mat-button color="primary" (click)="this.onRevertClick()">
        {{ this.ui.revert_version_btn }}
      </button>
      <button
        mat-button
        color="primary"
        (click)="this.deleteArticle()"
        *ngIf="
          this.loggedUser?.id === this.author.id ||
          this.loggedUser?.roles?.includes('Admin')
        "
      >
        Delete
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <app-article-ratings
    [ui]="this.ui"
    [loggedUser]="this.loggedUser"
    [ratings]="this.ratings"
    *ngIf="this.isArticleTranslated"
    (rateText)="this.rateTextFromArticle($event)"
  ></app-article-ratings>
  <br />
  <!-- <app-all-comments
    [articleId]="this.article.article.id"
    [language]="this.displayLanguage"
  ></app-all-comments> -->
</div>
